.mailchimp {
	margin-left: auto !important;
	margin-right: auto !important;
}

#mc_embed_signup form {
	padding-top: 0;
	padding-bottom: 0;
	margin-bottom: 0;
}

.mailchimp label {
	text-align: center;
}

#mc_embed_signup .button {
	display: block;
	width: 140px;
	margin-left: auto;
	margin-right: auto;
}

#mc_embed_signup .mc-field-group {
	width: 100%;
}
.no-bottom-margin {
	margin-bottom: 0;
}

.hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.map {
    -webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
         -o-filter: grayscale(100%);
            filter: grayscale(100%);
}